@charset "UTF-8";
/*
Name: markup-inside
Version: 1.0
*/

table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}

/* guide-wrap */
.guide-wrap {
  font-size: 1.2rem;
  hr {
    display: block;
    margin: 40px 0;
    height: 0px;
    border-top: 0;
    border-bottom: 1px solid #ccc;
  }
}
.gw-grid {
  margin: 0 auto 40px;
  max-width: 1000px;
  padding: 20px;
  h1 {
    display: block;
    margin-bottom: 20px;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
    background: #333;
  }
  h3 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.6rem;
    &:first-child {
      margin-top: 0;
    }
    & + .txt-desc {
      margin-bottom: 10px;
    }
  }
}
.txt-desc {
  font-size: 1.2rem;
  color: #666;
}

/* syntax highligher */
.sh-wrap {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #000;
}
.gw-code-wrap {
  h5 {
    position: relative;
    margin-top: 20px;
    padding-left: 10px;
    font-size: 1.4rem;
    color: #444;
    &:before {
      content: '';
      display: inline-block;
      top: 50%;
      left: 0;
      margin-top: -6px;
      width: 3px;
      height: 12px;
      margin-right: 5px;
      position: absolute;
      vertical-align: middle;
      background: #666;
    }
  }
}
.gw-code-wrap h5 + .ul-dot-gray,
.gw-code-wrap h5 + .gw-view-table,
.ul-dot-gray + .gw-view-table {
  margin-top: 10px;
}

.syntaxhighlighter {
  a,
  div,
  code,
  table,
  table td,
  table tr,
  table tbody,
  table thead,
  table caption,
  textarea {
    font-size: 1.3rem !important;
  }
  .line.alt1 {
    background-color: #111E31 !important;
  }
}

/* font */
.font-exam-box {
  padding: 100px 50px;
  hr {
    display: block;
    margin: 20px 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.6rem;
  }
  ul > li {
    margin: 10px 0;
  }

}

.feb-NotoSansKR {
  font-family: 'Noto Sans KR', sans-serif;
}

.feb-NotoSerifKR {
  font-family: 'Noto Serif KR', serif;
}

.feb-AppleSDGothicNeo {
  font-family: 'Apple SD Gothic Neo', sans-serif;
}

.feb-MalgunGothic {
  font-family: 'Malgun Gothic', sans-serif;
}

.feb-NanumGothic {
  font-family: 'Nanum Gothic', sans-serif;
}

.feb-NanumMyeongjo {
  font-family: 'Nanum Myeongjo', serif;
}

.feb-Roboto {
  font-family: 'Roboto', sans-serif;
}

/* table */
.gw-view-table {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  th,
  td {
    padding: 5px 15px;
    line-height: 1.6rem;
    text-align: left;
    border-bottom: 1px solid #eee;
  }
  th {
    background: #f8f8f8;
  }
  td {
  }
}

/* list */
.ul-dot-gray {
  & > li {
    position: relative;
    padding-left: 15px;
    font-size: 1.2rem;
    color: #666;
    line-height: 18px;
    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      width: 2px;
      height: 2px;
      background: #666;
    }
  }
}
.code-copy {
  float: right;
  display: inline-block;
  margin-bottom: 10px;
  padding: 2px 6px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background: #000;
    color: #fff;
  }
}